# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environment
.env
.venv/
venv/

# IDEs/editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# SQLite (if used locally)
*.sqlite3

# Pydantic cache
*.mypy_cache
*.pytest_cache
